@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;700&display=swap');

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    background:url(../src/img/1680.jpg);
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  * {
    font-family: "Cormorant Unicase", Helvetica, serif;
  }
